body {
    margin: 0;
    padding: 0;
    background-color: #041D1E; /* Couleur de fond sombre */
    color: #d1e8e2; /* Couleur du texte */
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 40px 50px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #d1e8e2;
    font-size: 1.2rem;
    font-family: 'inter', sans-serif;
    letter-spacing: 5px;
    transition: color 0.3s ease, animation 0.3s ease;
    position: relative;
}

.nav a:hover {
    text-shadow: 0 0 5px #d400e7, 0 0 10px #00eeff;
    background: linear-gradient(90deg, #d1e8e2, #8d8d8d, #8d8d8d, #d1e8e2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 3s linear infinite;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dynamic-title {
    font-size: 3rem;
    font-weight: bold;
    color: #d1e8e2;
    margin: 0;
}


.homeContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}